body {
  margin: 0;
  
}

*{
  box-sizing: border-box;
}
.calculator{
  display: grid;
  grid-template-columns: repeat(4, 6rem);
  grid-template-rows: minmax(6rem, auto) repeat(5, 4rem);
  background-color: #C1C0BF;
  width: calc(24rem + 1px);
  margin: 0 auto;
}

.output{
  grid-column: 1/span 4;
  
}

.button-ac {
  grid-column: 1/span 2;
}

.button-equal {
  grid-column: 3/span 2;
}